<?xml version="1.0" encoding="utf-8"?>

<!-- manifest is the root element of this XML file -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
       xmlns:app="http://schemas.android.com/apk/res-auto" 
    package="com.example.myfirstapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />
   
    <!-- ____________________________________________________________________________________________________________ -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light">
        <!-- refers to png image under \drawable called "ic_launcher.png -->
        <!-- refers to string app_name defined in \values\string.xml -->
        <!-- refers to style "AppTheme" under \values\styles.xml -->
        <!-- ____________________________________________________________________________________________________________ -->

        <activity
            android:name="com.example.myfirstapp.MainActivity"
            android:label="@string/app_name" >

            <!-- refers to string app_name defined in \values\string.xml -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- ____________________________________________________________________________________________________________ -->
          
        <!--  This activity is automatically generated by Eclipse when using the create new Android Acitivty Wizard -->
        <activity
            android:name="com.example.myfirstapp.DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName="com.example.myfirstapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.MainActivity" />
        </activity>
        <!--  android:name - name of acitivty, complete with package name -->
        <!--  android:label of acitivty will be displayed on launch -->
        <!--  android:parentActivityName sets the hierarchy, where activities call another 
        	  The system uses this value to implement default navigation behaviors, such as Up navigation 
        	  on Android 4.1 (API level 16) and higher. You can provide the same navigation behaviors for
       		  older versions of Android by using the Support Library and adding the <meta-data> element 
         	  as shown here.-->
        
    </application>

</manifest>
